@import "node_modules/react-modal-video/scss/modal-video.scss";

.ant-tabs-tab {
    opacity: 0.7 !important;
    &:hover {
        color: black;
    }
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: black !important;
}

.ant-tabs-tab.ant-tabs-tab-active {
    opacity: 1 !important;
}

.MuiAccordionDetails-root {
  display: block !important;
}
